body {
    background-color: bisque;
    padding: 100px;
}

.main-div {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-img img {
    border-radius: 20px;
    width: 100%;
}

.heading h1 {
    font-size: 60px;
}

p {
    font-size: 20px;
    color: #6d6d6d;
    font-family: 'Arial', sans-serif;
}

.prep {
    background-color: rgba(239, 146, 161, 0.121);
    list-style: disc;
    width: 100%;
}

.prep h3 {
    font-size: 40px;
    color: rgb(148, 7, 148);
    font-family: 'Arial', sans-serif;
}

.prep ul li {
    font-size: 20px;
    color: #6d6d6d;

}

.Ingredients h2 {
    font-size: 40px;
    color: brown;
}

.Ingredients ul li {
    font-size: 20px;
    list-style-type: square;

}

.Ingredients ul li::marker {
    color: brown;

}

.Instructions h2 {
    font-size: 40px;
    color: brown;

}

.Instructions ol li::marker {
    padding-right: 5px;
    color: brown;

}

.Instructions ol li {
    font-size: 20px;
    color: #6d6d6d;


}







.Nutrition {
    font-family: 'Arial', sans-serif;

}

.Nutrition h2 {
    font-size: 40px;

    color: brown;
    /* Title color */
}

.Nutrition p {

    padding-right: 500px;
    padding-left: 20px;
}



.Nutrition .cal {
    display: flex;

    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.Nutrition .cal p:first-child {
    font-weight: bold;
    color: #6d6d6d;
}

.Nutrition .cal p:last-child {
    font-weight: bold;
    color: brown;
}






/* ---------------------------------------------------mobile view--------------------------------------- */



@media only screen and (max-width: 600px) {
    body {
        padding: 20px;

    }

    .main-div {
        padding: 20px;

    }

    .heading h1 {
        font-size: 30px;

    }

    .prep h3,
    .Ingredients h2,
    .Instructions h2,
    .Nutrition h2 {
        font-size: 24px;

    }

    .prep ul li,
    .Ingredients ul li,
    .Instructions ol li,
    .Nutrition .cal p {
        font-size: 16px;

    }

    .main-img img {
        width: 100%;

        height: auto;

    }

    .Nutrition .cal {
        display: block;

        padding: 5px 0;
    }

    .Nutrition p {
        padding-right: 0;

        padding-left: 0;
        text-align: left;

    }

    .container {
        flex-direction: column;

        text-align: center;

    }

    .Ingredients ul,
    .Instructions ol {
        padding-left: 20px;

    }

    .Nutrition .cal p:first-child {
        margin-bottom: 5px;

    }

    .Instructions ol li::marker {
        padding-right: 0;

    }

    .Instructions ol {
        padding-left: 20px;

    }
}




.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}